.intro-message-container {
    margin-top: 3em;
}

.intro-message {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.intro-message-title {
    color: #ccc;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3em;
}

.intro-message-text {
    color: #ccc;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    max-width: 55vw;
}

@media (max-width: 768px) {
    .intro-message {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-message-title {
        font-size: 1.45rem;
    }

    .intro-message-text {
        font-size: 1.25rem;
        max-width: 80vw;
    }
}